{% extends 'default.html.twig' %}

{% block title %}Contact / Imprint{% endblock %}

{% block content %}

    <section id="profile" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.index') }}">
                <span class="title">My profile</span>
                <span class="icon-user"></span>
            </a>
        </h2>
        <div class="item-border"><span></span></div>
    </section>

    <section id="imprint" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.imprint') }}" title="Imprint">
                <span class="title">Imprint</span>
                <span class="icon-contact"></span>
            </a>
        </h2>

        <div class="item-cont clearfix">

            <h3>Angaben gemäß § 5 TMG:</h3>

            <p>Tommy Mühle<br />
               Hepkestraße 177<br />
               01277 Dresden
            </p><br />

            <h3>Kontakt</h3>

            <p>Telefon: 0351/160 638 22<br />
               E-Mail:  tommy.muehle@gmail.com
            </p><br />

            <h3>Haftungsausschluss</h3>

            <p><strong>Haftung für Inhalte</strong></p><br />
            <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt.
               Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
               keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene
               Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
               Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
               übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
               zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
               Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
               allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
               jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.
               Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
               umgehend entfernen.</p>

            <br />
            <p><strong>Haftung für Links</strong></p>
            <br />
            <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir
               keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine
               Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
               Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
               Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
               Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
               Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
               Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
               Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

            <br />
            <p>Quelle: Disclaimer von eRecht24, dem Portal zum Internetrecht von Rechtsanwalt Sören Siebert.</p>

            <br />

        </div>
    </section>

{% endblock %}
