{% extends 'default.html.twig' %}

{% block title %}Not found{% endblock %}

{% block content %}

    <section id="profile" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.index') }}">
                <span class="title">My profile</span>
                <span class="icon-user"></span>
            </a>
        </h2>
        <div class="item-border"><span></span></div>
    </section>

    <section id="imprint" class="item">

        <h2 class="item-title">
                <span class="title">404</span>
                <span class="icon-portfolio"></span>
        </h2>

        <div class="item-cont clearfix">
            <h3>Not found</h3>
            <p>Sorry, but the page you were trying to view does not exist.</p>
        </div>
    </section>

{% endblock %}
