{% extends 'default.html.twig' %}

{% block title %}Postcards{% endblock %}

{% block content %}

    <section id="profile" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.index') }}">
                <span class="title">My profile</span>
                <span class="icon-user"></span>
            </a>
        </h2>
        <div class="item-border"><span></span></div>
    </section>

    <section id="cards" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.postcards') }}" title="Postcards">
                <span class="title">Postcards</span>
                <span class="icon-portfolio"></span>
            </a>
        </h2>

        <div class="item-cont clearfix">
            <p>Some of my projects are "Postcardware". That means if you like some of <a href="https://github.com/tommy-muehle?tab=repositories" title="My Github libraries" target="_blank">my libraries</a>
            it would be a great pleasure for me if you send me a postcard from your hometown. For example with the name of the library you are like.</p>
            <br />
            <p>My address is: Tommy Muehle, Hepkestr. 177, 01277 Dresden, Germany.</p>
            <br />
            <h3>Actually are no postcard received me. So you can be the first one!</h3>
        </div>


    </section>

{% endblock %}
