{% extends 'default.html.twig' %}

{% block title %}Kontakt / Impressum{% endblock %}

{% block content %}

    <section id="profile" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.index') }}">
                <span class="title">Mein Profil</span>
                <span class="icon-user"></span>
            </a>
        </h2>
        <div class="item-border"><span></span></div>
    </section>

    <section id="imprint" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.imprint') }}" title="zur Übersicht">
                <span class="title">Impressum</span>
                <span class="icon-contact"></span>
            </a>
        </h2>

        <div class="item-cont clearfix">

            <h3>Angaben gemäß § 5 TMG:</h3>

            <p>Tommy Mühle<br />
               Hepkestraße 177<br />
               01277 Dresden
            </p><br />

            <h3>Kontakt</h3>

            <p>Telefon: 0351/160 638 22<br />
               E-Mail:  tommy.muehle@gmail.com
            </p><br />

            <h3>Haftungsausschluss</h3>

            <p><strong>Haftung für Inhalte</strong></p><br />
            <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt.
               Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
               keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene
               Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
               Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
               übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
               zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
               Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
               allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
               jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.
               Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
               umgehend entfernen.</p>

            <br />
            <p><strong>Haftung für Links</strong></p>
            <br />
            <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir
               keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine
               Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
               Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
               Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
               Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
               Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
               Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
               Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

            <br />
            <p><strong>Urheberrecht</strong></p>
            <br />

            <p>Alle Artikel dieses Blogs stehen unter einer Creative-Commons-Lizenz
               (nicht für den kommerziellen Gebrauch) und können unter Verlinkung und/oder Hinweis
               auf die Originalquelle verwendet werden.</p>

            <br />
            <p>Quelle: Disclaimer von eRecht24, dem Portal zum Internetrecht von Rechtsanwalt Sören Siebert.</p>

            <br />

            <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google").
               Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden
               und die eine Analyse der Benutzung der Website durch Sie ermöglichen.
               Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der
               Regel an einen Server von Google in den USA übertragen und dort gespeichert.
               Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von
               Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten
               des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
               Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen
               und dort gekürzt.
            </p><br />

            <p>Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen,
               um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen
               und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen
               gegenüber dem Websitebetreiber zu erbringen.
            </p><br />

            <p>Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht
               mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine
               entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin,
               dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
               vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das
               Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse)
               an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter
               dem folgenden Link (<a href="http://tools.google.com/dlpage/gaoptout?hl=de"
               title="Google Analytics deaktivieren">http://tools.google.com/dlpage/gaoptout?hl=de</a>)
               verfügbare Browser-Plugin herunterladen und installieren.
            </p><br />

            <p>Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link klicken.
                Es wird ein Opt-Out-Cookie gesetzt, der die zukünftige Erfassung Ihrer Daten beim Besuch
                dieser Website verhindert:<br /><br />

                <a href="javascript:gaOptout()"><strong>Google Analytics deaktivieren</strong></a>
            </p><br />

            <p>Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter
               <a href="http://www.google.com/analytics/terms/de.html">http://www.google.com/analytics/terms/de.html</a> bzw. unter
               <a href="http://www.google.com/intl/de/analytics/privacyoverview.html">http://www.google.com/intl/de/analytics/privacyoverview.html</a>.
               Wir weisen Sie darauf hin, dass auf dieser Website Google Analytics um eine IP-Anonymisierung
               erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.
            </p>

        </div>
    </section>

{% endblock %}