{% extends 'default.html.twig' %}

{% block title %}Willkommen{% endblock %}

{% block content %}
    <section id="profile" class="item noprint">
        <h2 class="item-title">
            <span class="title">Mein Profil</span>
            <span class="icon-user"></span>
        </h2>

        <div class="item-cont clearfix">
            <div class="hidden">
                <div class="col500 clearfix fl-left">
                    <div class="profile-img"><img src="/images/tommy.jpg" alt="Bild von mir" /></div>
                    <div class="profile-info">
                        <h3>Hallo, ich bin Tommy.</h3>
                        <p>Ich bin Entwickler, Ehemann, ein wenig Nerd mit einer Vorliebe für Technik,
                           Fussball, Filme und gutes Essen.</p>
                    </div>
                </div>

                <div class="col260 fl-right">
                    <ul class="profile-data">
                        <li><h4>Name</h4> <div>Tommy Mühle</div></li>
                        <li><h4>Alter</h4> <div>28</div></li>
                        <li><h4>Address</h4> <div>Hepkestraße 177, 01277 Dresden</div></li>
                        <li><h4>E-mail</h4> <div>tommy.muehle@gmail.com</div></li>
                    </ul>
                </div>
            </div>
            <a class="blog-link" href="https://tommy-muehle.github.io" title="zum Blog">
                <span class="icon"></span>
                <span class="label">BLOG</span>
            </a>
        </div>
        <div id="profile-brd" class="item-border"><span><span></span></span></div>
    </section><!-- /#profile -->

    <section id="resume" class="item">
        <h2 class="item-title toggle noprint closed">
            <span class="title">Über mich</span>
            <span class="icon-resume"></span>
            <span class="arrow"></span>
        </h2>

        <div class="item-cont clearfix">
            <div class="col500 fl-left">

                <div class="resume-category">
                    <h3 class="resume-category-title clearfix">Arbeitsleben<span class="icon-plus"></span></h3>

                    <div class="resume-post">
                        <div class="resume-post-body">
                            <div class="resume-post-date">2010 - bis heute</div>
                            <h4 class="resume-post-title">Senior Developer</h4>
                            <h5 class="resume-post-subtitle">move:elevator GmbH</h5>
                        </div>
                    </div>

                    <div class="resume-post">
                        <div class="resume-post-body">
                            <div class="resume-post-date">2009 - 2010</div>
                            <h4 class="resume-post-title">Developer</h4>
                            <h5 class="resume-post-subtitle">Colosseum Competence GmbH & Co. KG</h5>
                        </div>
                    </div>
                </div>

                <div class="resume-category">
                    <h3 class="resume-category-title clearfix">Ausbildung <span class="icon-plus"></span></h3>

                    <div class="resume-post">
                        <div class="resume-post-body">
                            <div class="resume-post-date">2008 - 2009</div>
                            <h4 class="resume-post-title">Fachinformatiker für Anwendungsentwicklung</h4>
                            <h5 class="resume-post-subtitle">AWV Dresden GmbH</h5>
                        </div>
                    </div>

                    <div class="resume-post">
                        <div class="resume-post-body">
                            <div class="resume-post-date">2006 - 2008</div>
                            <h4 class="resume-post-title">techn. Assistent für Informatik</h4>
                            <h5 class="resume-post-subtitle">AIK gGmbH Dresden</h5>
                        </div>
                    </div>
                </div>

                <div class="resume-category">
                    <h3 class="resume-category-title clearfix">Schulbildung <span class="icon-plus"></span></h3>

                    <div class="resume-post">
                        <div class="resume-post-body">
                            <div class="resume-post-date">2003 - 2005</div>
                            <h4 class="resume-post-title">Fachhochschulreife</h4>
                            <h5 class="resume-post-subtitle">BSZ Freital</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col260 fl-right noprint">
                <div class="resume-sidebar">
                    <aside class="skill-box">
                        <h3>Development SKILLS</h3>

                        <div class="textwidget">
                            <div class="skill-row">
                                <h4 class="skill-title">PHP</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="100"></span>
                                    <span class="skill-percent">100%</span>
                                </div>
                            </div>

                            <div class="skill-row">
                                <h4 class="skill-title">Puppet</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="80"></span>
                                    <span class="skill-percent">80%</span>
                                </div>
                            </div>

                            <div class="skill-row">
                                <h4 class="skill-title">Javascript</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="60"></span>
                                    <span class="skill-percent">60%</span>
                                </div>
                            </div>

                            <div class="skill-row">
                                <h4 class="skill-title">Ant</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="85"></span>
                                    <span class="skill-percent">85%</span>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="skill-box">
                        <h3>Framework SKILLS</h3>

                        <div class="textwidget">
                            <div class="skill-row">
                                <h4 class="skill-title">Silex</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="100"></span>
                                    <span class="skill-percent">100%</span>
                                </div>
                            </div>

                            <div class="skill-row">
                                <h4 class="skill-title">Symfony2</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="90"></span>
                                    <span class="skill-percent">90%</span>
                                </div>
                            </div>

                            <div class="skill-row">
                                <h4 class="skill-title">TYPO3</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="80"></span>
                                    <span class="skill-percent">80%</span>
                                </div>
                            </div>

                            <div class="skill-row">
                                <h4 class="skill-title">Zend Framework</h4>
                                <div class="skill-data">
                                    <span class="skill-percent-line" data-width="30"></span>
                                    <span class="skill-percent">30%</span>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="skill-box">
                        <h3>LANGUAGE SKILLS</h3>

                        <div class="textwidget">

                            <aside class="skill-language">
                                <div class="skill-row clearfix">
                                    <h4 class="skill-title clearfix"><img src="/images/gr.png" alt="german" /><span>GERMAN</span></h4>
                                    <div class="skill-data skill6"></div>
                                </div>
                            </aside>

                            <aside class="skill-language">
                                <div class="skill-row clearfix">
                                    <h4 class="skill-title clearfix"><img src="/images/en.png" alt="english" /><span>ENGLISH</span></h4>
                                    <div class="skill-data skill3"></div>
                                </div>
                            </aside>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <div class="item-border"><span></span></div>
    </section><!-- /#resume -->

    <section id="contact" class="item noprint">
        <a href="{{ path('default.imprint') }}">
            <h2 class="item-title">
                <span class="title">Kontakt</span>
                <span class="icon-contact"></span>
            </h2>
        </a>
        <div class="item-border"><span></span></div>
    </section><!-- /#contact -->

{% endblock %}