<p>Ich benutze bereits für mehrere Projekte einen lokalen Jenkins auf meinem MacBook,
   um Releases auf Codestyle, Unit-Tests usw. zu prüfen.</p>

<p>Teilweise sogar als Pre-Commit Hook für Github Projekte.</p>

<p>Nach einem Tausch der Jenkins-Installation von der Homebrew-Variante auf
   den normalen <a href="http://jenkins-ci.org/" title="Jenkins-Seite">Installer</a> wurde ich jetzt mit
   zweierlei Fehlermeldungen konfrontiert.</p>

<p>Die erste Meldung war:</p>

<blockquote>IOException: Cannot run program "ant" ... </blockquote>

<p>Gut dachte ich, setzt du die zu verwendende Ant-Version fest. <br />
   Ant hatte ich bereits vor einiger Zeit per Homebrew installiert.
</p>

<p>In der allgemeinen Jenkins-Konfiguration:</p>
<div class="entry-photo"><img title="Ant in der Jenkins-Konfiguration" src="/uploads/fixed_ant_version1.png" /></div>

<br />

<p>Und in der jeweiligen Job-Konfiguration:</p>
<div class="entry-photo"><img title="Ant in der Job-Konfiguration" src="/uploads/fixed_ant_version2.png" /></div>

<p>Beim nächsten Buildversuch erschien dann folgende Meldung:</p>

<blockquote>Could not find or load main class org.apache.tools.ant.launch.Launcher</blockquote>

Eine kurze Google-Suche bestätigte die Vermutung, dass hier
ein PATH Problem vorlag. Mein Jenkins-Server nutzt eine eigene PATH-Variable.

<h3>Und hier die Lösung</h3>

<p>Ihr könnt in der folgenden Datei die PATH Variable einfach selbst definieren.</p>

<pre><code class="bash">/Library/LaunchDaemons/org.jenkins-ci.plist</code></pre>
<br />

<p>Dazu stoppt ihr euren Jenkins zu allererst mit:</p>

<pre><code class="bash">sudo launchctl unload /Library/LaunchDaemons/org.jenkins-ci.plist</code></pre>
<br />

<p>Dann fügt ihr folgenden Teil ein:</p>

<pre><code class="xml">
    &lt;key&gt;EnvironmentVariables&lt;/key&gt;
    &lt;dict&gt;
        &lt;key>PATH&lt;/key&gt;
        &lt;string&gt;/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/git/bin&lt;/string&gt;
    &lt;/dict&gt;
</code></pre>
<br />

<p>Damit werden bspw. auch alle durch Homebrew nachinstallierten Programme und Pakete gefunden.
Dann startet ihr euren Jenkins mit folgenden Befehl wieder:</p>

<pre><code class="bash">sudo launchctl load /Library/LaunchDaemons/org.jenkins-ci.plist</code></pre>
<br />

<p>Jetzt sollte ant wieder gefunden und die Tasks wieder ausgeführt werden.</p>