<p>
    Letzte Woche habe ich einen sehr interessanten
    <a href="http://code.joejag.com/2014/why-zsh.html" title="">Artikel</a> von
    Joe Wright bzgl. der Zsh Shell gelesen. Dieser hat mich ebenso dazu veranlasst,
    meine Standard-Shell unter Mac OS X zu wechseln.
</p>

<p>
    Unter OS X ist bereits eine Zsh Shelll unter /bin/zsh vorhanden.
    Jedoch ist diese zum Tag heute in Version "5.0.5" verfügbar.
    Aktuell ist jedoch Version "5.0.7". Diese ist auch über Homebrew installierbar.
</p>

<p>
    Die Installation der aktuellen Zsh Shell über Homebrew ist dabei gewohnt einfach.
</p>

<pre><code class="bash">
brew update
brew install zsh
</code></pre>
<br />

<p>
    Danach muss der von Homebrew erzeugte Symlink unter "/usr/local/bin/zsh" noch in die
    Liste der verfügbaren Shells aufgenommen werden.
</p>

<pre><code class="bash">
sudo vim /etc/shells
# Inhalt der Datei
/bin/bash
/bin/csh
/bin/sh
/bin/tcsh
/bin/zsh
# Hinzufuegen
/usr/local/bin/zsh
</code></pre>
<br />

<p>
    Danach könnt ihr mit dem folgenden Befehl eure Standard-Shell wechseln:
</p>

<pre><code class="bash">
chsh -s /usr/local/bin/zsh
</code></pre>
<br />

<p>
    Ab jetzt empfiehlt es sich, seine Shell-Konfiguration mit
    <a href="https://github.com/robbyrussell/oh-my-zsh" title="oh-my-zsh Website">"oh-my-zsh"</a> zu erweitern.
    Die Installation wird auf der Github-Seite gut beschrieben.
</p>

<p>
    Mit "oh-my-zsh" stehen dann sehr sehr viele
    <a href="https://github.com/robbyrussell/oh-my-zsh/tree/master/plugins" title="oh-my-zsh Plugins">Plugins</a> und
    <a href="https://github.com/robbyrussell/oh-my-zsh/tree/master/themes" title="oh-my-zsh Themes">Themes</a> zur Verfügung, so dass man sein "Shell-Erlebnis" entsprechend anpassen kann.
</p>

<p>
    Aktuell nutze ich das Theme "avit" sowie die Erweiterungen für Git, Vagrant, OSX und Symfony2.
    Nach 3 Tagen testen bin ich immernoch sehr angetan und kann es nur jedem empfehlen.
</p>

