
/* Light Skin
============================================================= */
body.light_skin {color:#4a4a4a;}
.light_skin .head-social a{background-color:#fafafa; border-top:2px solid #434b51;}
.light_skin .head-social li:nth-child(even) a{background-color:#ffffff;}
.light_skin .item-title .arrow{background-position: 0 -25px;}
.light_skin .item-title:hover .arrow{background-position: 0 0px;}
.light_skin .item-title.closed .arrow{background-position: 0 -50px;}
.light_skin .item-title.closed:hover .arrow{background-position: 0 -75px;}

.light_skin .head-social li.github a{background:url(../images/github.png) no-repeat center center; background-size: 20px 20px;}
.light_skin .head-social li.xing a{background: url(../images/xing.gif) no-repeat center center; background-size: 20px 20px;}

.light_skin .item-border span, 
.light_skin #profile-brd > span > span{background-color:#dce3e7}
.light_skin .item{background:#fff;}
.light_skin .profile-info h3{color:#000000; }
.light_skin .blog-link .label{background:#434b51; color:#fff;}

.light_skin .resume-post-title{color:#4a4a4a;}
.light_skin .resume-post-date{border-color:#E3E3E3;}
.light_skin .resume-post{border-color:#ebebeb;}
.light_skin .skill-box h3{border-color:#d0dde5; color:#242a2e;}
.light_skin .skill-row{border-color:#DFDFDF;}
.light_skin .skill-title{color:#4f4f4f;}
.light_skin .skill-data {background:#e6e6e6;}
.light_skin .skill-title{color:#4F4F4F;}
.light_skin .skill-percent{color:#848484;}

.light_skin .controls li{border:2px solid #d0dde5; color:#a0aeb6;}
.light_skin  #contact h3, .light_skin .form h3{color:#000000;}
.light_skin .form label{color:#4c4c4c;}
.light_skin .form-item{color: #8e8e8e; background-color: #ffffff; border-color: #d0dde5;}
.light_skin .contact-info .icon{border-color:#d0dde5;}
.light_skin  .contact-info .icon-home .icon{background-position: -2px -2px;}
.light_skin  .contact-info .icon-phone .icon{background-position: -2px -37px;}
.light_skin  .contact-info .icon-maile .icon{background-position: -2px -72px;}
.light_skin  .contact-info .icon-world .icon{background-position: -2px -107px;}

.light_skin .post-title, 
.light_skin .post-title a{color:#000000;}
.light_skin .post-info{color:#8a8a8a;}
.light_skin .post-info span, 
.light_skin .post-info a{color:#000;}
.light_skin .entry-data, 
.light_skin .entry-data .comments-link{border-color:#ebebeb;}
.light_skin .entry-data .month,
.light_skin .entry-data .day{color:#1c2f40;}
.light_skin .entry-text{color:#4f4f4f;}
.light_skin .entry-data .comments-link{background-position:9px 7px;}j
.light_skin .post-share a{border-color:#d0dde5;}
.light_skin .entry-box{border-color:#E8EBED;}

.light_skin #sidebar .widget h2{color:#000000;}
.light_skin #sidebar .widget ul li{border-bottom:1px solid #e8ebed; color:#4c4c4c;}
.light_skin .tagcloud a, 
.light_skin .post-tags a{color:#8C9DA8; border:2px solid #d0dde5;}
.light_skin #pageination li a, 
.light_skin #pageination li span{border:2px solid #d0dde5; color:#bac4ca;}
.light_skin #pageination span.current{border:2px solid #434b51; color:#50575d;}
.light_skin .wp-cont{color:#4f4f4f;}

.light_skin  .mejs-container .mejs-controls{background: #fff; border:1px solid #D1D1D1;}
.light_skin  .mejs-container .mejs-controls .mejs-time span{color:#666666;}
.light_skin  .mejs-controls .mejs-play button{background-position:0px 0px;}
.light_skin  .mejs-controls .mejs-pause button{background-position:-14px 0px;}
.light_skin  .mejs-controls .mejs-mute button {background-position:-32px 0px;}
.light_skin  .mejs-controls .mejs-unmute button{background-position:-54px 0px;}